@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*primary color */
  --Light_red: hsl(0, 100%, 67%);
  --Orangey_yellow: hsl(39, 100%, 56%);
  --Green_teal: hsl(166, 100%, 37%);
  --Cobalt_blue: hsl(234, 85%, 45%);

  /*gradient color */
  --Light_slate_blue: hsl(252, 100%, 67%);
  --Light_royal_blue: hsl(241, 81%, 54%);

  --Violet_blue: hsla(256, 72%, 46%, 1);
  --Persian_blue: hsla(241, 72%, 46%, 0);

  /* neutral */
  --White: hsl(0, 0%, 100%);
  --Pale_blue: hsl(221, 100%, 96%);
  --Light_lavender: hsl(241, 100%, 79%);
  --Dark_gray_blue: hsl(224, 30%, 27%);
}

body {
  font-family: "Hanken Grotesk";
  background-color: var(--Pale_blue);
}

.container {
  background-color: var(--White);
  border-radius: 40px;
}

.display_total {
  text-align: center;
  background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  background-repeat: no-repeat;
  padding: 2rem 2.5rem;
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  color: var(--Pale_blue);
}

.heading {
  margin-bottom: 1.5rem;
}

.circle {
  padding: 2em;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
  clip-path: circle();
  margin-bottom: 1.5rem;
}

.result {
  font-weight: 800;
  font-size: 2.5em;
}
.hundred {
  opacity: 0.6;
}

.primary_title {
  margin-bottom: 1rem;
}

.content {
  padding: 0 2rem;
}

.summary {
  padding: 1.5rem 0;
  color: var(--Dark_gray_blue);
}

ul li {
  display: flex;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.icons {
  margin-right: 1rem;
}

.summary_list {
  margin-bottom: 1rem;
}

.continue {
  text-align: center;
}

ul li:nth-child(1) {
  color: var(--Light_red);
  background-color: hsl(0, 100%, 67%, 0.1);
}

ul li:nth-child(2) {
  color: var(--Orangey_yellow);
  background-color: hsl(39, 100%, 56%, 0.1);
}
ul li:nth-child(3) {
  color: var(--Green_teal);
  background-color: hsl(166, 100%, 37%, 0.1);
}
ul li:nth-child(4) {
  color: var(--Cobalt_blue);
  background-color: hsl(234, 85%, 45%, 0.1);
}
.score {
  margin-left: auto;
  color: var(--Dark_gray_blue);
  font-weight: 700;
}

.base_total {
  opacity: 0.6;
}

.continues {
  padding: 1rem 0;
}

.continue {
  padding: 0.8em;
  color: var(--White);
  background-color: var(--Dark_gray_blue);
  border-radius: 50px;
}

.attribution {
  text-align: center;
}

@media screen and (min-width: 550px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .display_total {
    border-top-right-radius: 40px;
    border-top-left-radius: 40px;
  }
} ;
